/* footer */

footer{
  font-family: 'Anton', sans-serif;
    width: 100%;
    height: 37.828947368421055vh;
    position: absolute;
    background:  url("https://lh3.googleusercontent.com/proxy/5RZpaOx54k2ciLntKic-imynk3b5PbkWy7gXrC9HcWYaTSdQgzf0G-WKhtyO71lEmURlXpOdr6ZnYXRa9h620P_a1aQZk2P-BDA1sN-3uSqJO_OZxlJYD7I") 0 0 no-repeat;
    background-size: cover;
    margin-top: 39.5738203957382vh;
    margin-left: -10px;
}

.left-side{
width: 45%;
height: 90%;
float: left;
font-size: 1.3177159590043923vw;
color: rgb(189, 149, 21);
margin-left: 2.4641288433382138vw;
}

.left-side img{
  width: 30%;
  border-radius: 30%;
  margin: 2.2831050228310503vh 1.0980966325036603vw;
}

#firstPara{
  width: 60%;
  float: right;
  margin-top: 7.610350076103501vh;
  margin-right: 1.4641288433382138vw;
  line-height: 4.566210045662101vh;
}

#secPara{
  margin-top: -1.5220700152207vh;
  margin-left: 20px;
  line-height: 40px;
}

#icon img{
  width: 10%;
  margin-right: 1.4641288433382138vw;
  margin-top: 2.7220700152207vh;
  border-radius: 50%;
}

.right-side{
  width: 40%;
  height:90%;
  float: left;
  margin-left: 8.784773060029282vw;
  color: rgb(189, 149, 21);
  font-size: 1.4641288433382138vw;
  margin-top: 8.266210045662101vh;
}

#copy{
  margin-top: 7.610350076103501vh;
}

#img1:hover{
  animation: glow1 1s infinite alternate;
}

#img2:hover{
  animation: glow2 1s infinite alternate;
}

#img3:hover{
  animation: glow3 1s infinite alternate;
}

#img4:hover{
  animation: glow4 1s infinite alternate;
}


@keyframes glow1 {
  from {
    box-shadow: 0 0 5px -5px #aef4af;
  }
  to {
    box-shadow: 0 0 5px 5px blue;
  }
}

@keyframes glow2 {
  from {
    box-shadow: 0 0 5px -5px #aef4af;
  }
  to {
    box-shadow: 0 0 5px 5px green;
  }
}

@keyframes glow3 {
  from {
    box-shadow: 0 0 5px -5px #aef4af;
  }
  to {
    box-shadow: 0 0 5px 5px darkmagenta;
  }
}

@keyframes glow4 {
  from {
    box-shadow: 0 0 5px -5px #aef4af;
  }
  to {
    box-shadow: 0 0 5px 5px skyblue;
  }
}


@media only screen and (min-height:200px){
@media only screen and (max-height:767px) {
  footer{
  height: 47.828947368421055vh;
  }
}}