<img class="footerImg" src="imgs/logooo.png" alt="footer">
<p class="rights">Copyright © 2020 Holiday Finder <a href="https://github.com/301-project-organization/calender-app">calender-app.com</a></p>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/example.js"></script>
        