<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Holiday finders</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/example.css">

<link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Fugaz+One&family=Rancho&display=swap" rel="stylesheet">
