<header>
    <nav>
        <div class=logoArea>
        <div><img src="https://i.ibb.co/sWJ5Qb2/logo.jpg" alt="logo" id="newLogo"></div>
        <div class="logo">
    <svg  class='svg'>
        <symbol id="s-text">
            <text text-anchor="middle" x="18.301610541727673vw" y="11.513157894736842vh" id="linkLogo>">Holiday Finder</text>
        </symbol>
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>
        </div>
    </div>
        <ul>
            <li>
                <a href="">HOME</a>
            </li>
            <li>
                <a href="">FAVORITE</a>
            </li>
            <li>
                <a href="">SEARCH</a>
            </li>
            <li>
              <a href="">ABOUT US</a>
          </li>
        </ul>
    </nav>
    <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
        
          <ul id="menu">
            <a href="#"><li>HOME</li></a>
            <a href="#"><li>FAVORITE</li></a>
            <a href="#"><li>SEARCH</li></a>
            <a href="#"><li>ABOUT US</li></a>
          </ul>
        </div>
      </nav>
</header>