<div class="wrapper">
    <a href="../" class="logo"><img src="imgs/logo2.png" alt="logo"></a>
    <a href="" class="menu_icon" id="menu_icon" alt="menu"></a>
    <nav id="nav_menu">
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../favorites">Favorites</a></li>
            <li><a href="../searchform">Search</a></li>
            <li><a href="../about">About Us</a></li>
        </ul>
    </nav>
    <ul class="social">
        <li><a class="fb" href="https://www.facebook.com/holidayyear.calendar/"></a></li>
        <li><a class="twitter" href="https://twitter.com/explore"></a></li>
        <li><a class="gplus" href="https://myaccount.google.com/profile?pli=1"></a></li>
    </ul>
</div>