<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Holiday finders</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/base.css">
<link rel="stylesheet" href="./css/layout.css">
<link rel="stylesheet" href="./css/modules.css">
<link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/calendar-date-year-event-schedule-link-holiday-5-22713.png" type="image/png" sizes="152x152">