<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HolidayFinder</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/example.css">

<link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/calendar-date-year-event-schedule-link-holiday-5-22713.png" type="image/png" sizes="152x152">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Fugaz+One&family=Rancho&display=swap" rel="stylesheet">
