<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/sr.css">
</head>
<body>
    <main>
        <section class="favoritesResults">
            <% holidayResults.forEach(value=>{ %>
                <div class="favHolidays">
                        <img src="<%=value.picture_url%>" alt="">

                    <p><%=value.holidayname%></p>
                    <button onclick="window.location.href = '/details/<%=value.id%>';">View Details</button>
                </div>
            <%})%>
        </section>
    </main>
</body>
</html>